[Unit]
Description=SSH Tunneling
After=network.target

[Service]
User=saeed
ExecStart=/usr/bin/ssh -NTC -o ServerAliveInterval=600  -o PreferredAuthentications=publickey -o PubkeyAuthentication=yes -i /home/saeed/.ssh/id_rsa -R 
2222:localhost:22 saeed@136.243.185.12
RestartSec=3
Restart=always

[Install]
WantedBy=multi-user.target
